{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "electron": "36"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": []
}